<div class="row mx-lg-n5">
    <div class="col py-3 px-lg-5 border border-light"><h1 style="color: red; padding-top: 10px;">LATEST DATA</h1>
            <span>Data are obtained daily from verified source.</span></div>
    <div class="col py-3 px-lg-5 border border-light"><h1 style="color: red; padding-top: 10px;">FREE</h1>
            <span>The Data is free to get, and will continue to be free.</span></div></div>
     <div class="row mx-lg-n5">
    <div class="col py-3 px-lg-5 border border-light"><h1 style="color: red; padding-top: 10px;">JSON</h1>
            <p>JSON syntax, very easy to use.</p></div>
    <div class="col py-3 px-lg-5 border border-light"><h1 style="color: red; padding-top: 10px;">BUILD</h1>
            	<span>Dashboards, Mobile Apps, and Web Apps.</span></div>
  </div>