{% extends 'base.html' %}
{% load static %}


{% block content %}<br>
<div class="container-fluid">
    <div class="section-title"><h2>Profile Page</h2></div>
<div class="col-md-6 offset-md-3">
  <ul class="list-group">
  <li class="list-group-item">Username: {{ user.username }}</li>
  <li class="list-group-item">First Name:{{ user.first_name }}</li>
  <li class="list-group-item">Last: {{ user.last_name }}</li>
  <li class="list-group-item">E-mail: {{ user.email }}</li>
  <li class="list-group-item">
  <div class="row"><div class="col-md-1">Token:</div>
      <div class="col-md-8">
      <div class="form-group">
        <input type="text" class="form-control" value="{{user.auth_token}}" id="token">
        </div></div><div class="col-md-1"><input type="button" value="Copy" class="btn btn-secondary rounded" id='name' onclick="myFunction(); changeparagraph()"></button></div></div>
      </li>
</ul>

    <script>
      function myFunction() {
        /* Get the text field */
        var copyText = document.getElementById("token");
        /* Select the text field */
        copyText.select(); 
        copyText.setSelectionRange(0, 99999); /*For mobile devices*/
      
        /* Copy the text inside the text field */
        document.execCommand("copy");
      }
      function changeparagraph() {
      document.getElementById("name").value="copied";
      }
    </script>

  </div>
  <br><hr><br>
  <div class="text-center">

</div></div><br>
{% endblock %}